@charset "UTF-8";
body {
    background-color: "grey";
    font-family: 'Mochiy Pop P One', sans-serif;
}

h1 {
    text-align: center;
    color: rgba(0,0,0,0.5);
    padding: 70px;
    font-size: 60px;
    margin-right: 110px;
    text-shadow: rgb(255, 255, 255) 5px 2px 5px;
}

header {
  background-image: url("/mario-banner.png");
  background-color: rgb(56, 139, 206);
  background-repeat: no-repeat;
  height: 285px;
  margin-top: -5px;
  border: solid 5px;
  border-radius: 10px;
}

.color {
    display: inline-block;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 50px;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
  }

.pixel {
    display: inline-block;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-top: -100px;
}

.pixel-line {
    height: 10px;
    width: 600px;
    margin-right: -900;
  }

footer {
    margin-top: 20px;
}
button {
    margin-bottom: 10px;
}

img {
    padding: 10px;   
}

section {
    width: 600px;
}